#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buzz-button {
  background: none;
  border: none;
  font-size: 10em;
  position: relative;
}

.buzz-button::after {
  content: 'BUZZ';
  position: absolute;
  font-size: 0.3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buzz-button:hover {
  cursor: pointer;
}

.buzz-button:active {
  transform: scale(0.95);
}

.app-container {
  background-color: #242424;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  box-shadow: 0 0 50px 15px green inset;
}

.loser {
  box-shadow: 0 0 50px 15px red inset;
}

.mute-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px; /* Optional: Add some margin if needed */
}